{{template "super.tmpl" .}}

{{define "content"}}
<div id=create-around>
  <form id=create-form class=dialog-form action="/chat/create" method=post>
    <h1>Create new chat</h1>
    <label>Peer: <input type=text placeholder="Peer name" id=peer name=peer></label>
    <hr>
    <button>Create</button>
  </form>
</div>
{{end}}
