{{- define "message" -}}
	{{- $user := index . 0 -}}
	{{- $msg := index . 1 -}}
	<li class="{{or (and (eq $msg.From $user) "msg-self") "msg-other"}}">
	{{if eq $msg.Type "text"}}
	  <p>{{$msg.Text.Body}}</p>
	{{end}}
  </li>
{{- end -}}

<!doctype html>

<html>
	<head>
		<title>Hello, WEB!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel=stylesheet href="/static/styles.css">
		<script src="/static/htmx.js"></script>
		<script src="/static/sse.js"></script>
	</head>
	<body hx-boost=true>
		<header>
			<button><img class=icon src="/static/save.svg">Save</button>
			<hr>
			<button><img class=icon src="/static/save_as.svg">Save as...</button>
			<hr>
		</header>
		<nav>
			{{range .State.Core.Chats}}
				{{- $peer := .Peer $.State.User -}}
				<a href="/chat/{{$peer}}"><img class=icon src="/static/chat.svg">{{$peer}}</a>
				<hr>
			{{end}}
			<a href="/chat/create"><img class=icon src="/static/add.svg"> New Chat</a>
			<hr>
		</nav>
		<main>
			{{block "content" .}}{{end}}
		</main>
	</body>
</html>
